@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-w-1920 {
    max-width: 1920px !important;
}

.cs-w-80 {
    width: 80% !important;
}

.cs-w-85 {
    width: 85% !important;
}

.cs-w-65 {
    width: 65% !important;
}

/*Background*/
.cs-bg-white {
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.cs-bg-blue {
    background-color: #b1c6ff !important;
}

.cs-bg-gradient {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 0) 0%, rgba(77, 145, 157, 0) 35%, rgba(251, 255, 168, 1) 35%, rgba(251, 255, 168, 1) 100%);
}

.cs-bg-gradient-two {
    background: #B7FFC0;
    background: linear-gradient(90deg, rgba(183, 255, 192, 1) 0%, rgba(183, 255, 192, 1) 65%, rgba(251, 255, 168, 0) 65%, rgba(251, 255, 168, 0) 100%);
}

.cs-bg-gradient-three {
    background: #D5B3FF;
    background: linear-gradient(90deg, rgba(213, 179, 255, 0) 0%, rgba(213, 179, 255, 0) 25%, rgba(213, 179, 255, 1) 25%, rgba(213, 179, 255, 1) 75%, rgba(213, 179, 255, 0) 75%, rgba(213, 179, 255, 0) 100%);
}

/*Image*/
.cs-image {
    width: 65px !important;
}

/*Buttons*/
.cs-link:hover {
    color: #f46c60 !important;
}

.cs-btn {
    background-color: #0001fc !important;
    border-color: #0001fc !important;
}

.cs-btn:hover {
    color: #f46c60 !important;
    background-color: transparent !important;
    border-color: #f46c60 !important;
}

/*Font*/
.cs-fc-one {
    color: #5253c1 !important;
}

.cs-fc-two {
    color: #f46c60 !important;
}

.cs-fz-14 {
    font-size: 14px !important;
}

.cs-fz-17 {
    font-size: 17px !important;
}

.cs-fz-20 {
    font-size: 20px !important;
}

.cs-fw-500 {
    font-weight: 500 !important;
}

.cs-fw-600 {
    font-weight: 600 !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

@media (max-width: 991px) {
    .cs-w-65 {
        width: 90% !important;
    }

    .cs-w-85 {
        width: 100% !important;
    }
}